{% extends 'base.html' %}
{% load static %}

{% block title %}Overdue Books{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/Overduebook.css' %}" />
{% endblock %}

{% block content %}
<h2>📖 Books Management</h2>
<div class="tabs">
    <a href="{% url 'book_list' %}"><button class="tab">📚 All Books</button></a>
    <a href="{% url 'lent_books' %}"><button class="tab">📕 Lent</button></a>
    <a href="{% url 'return_book' %}"><button class="tab">📗 Returns</button></a>
    <a href="{% url 'overdue_books' %}"><button class="tab active">📘 Overdue</button></a>
    <a href="{% url 'add_book' %}" class="add-book-btn">+ Add Books</a>
</div>
<p style="margin-bottom: 15px;">All Books > Overdue Books</p>

<!-- Table -->
<section class="table-section">
    <table>
        <thead>
            <tr>
                <th>Book Id ⬍</th>
                <th>Member Name ⬍</th>
                <th>Issue Date ⬍</th>
                <th>Return Date ⬍</th>
                <th>Days Overdue ⬍</th>
                <th>Fine ⬍</th>
            </tr>
        </thead>
        <tbody>
            {% for loan in overdue_books %}
            <tr>
                <td>{{ loan.book.isbn }}</td>
                <td>{{ loan.member.name }}</td>
                <td>{{ loan.borrowed_date|date:"d-m-Y" }}</td>
                <td>{{ loan.due_date|date:"d-m-Y" }}</td>
                <td>{{ loan.days_overdue }}</td>
                <td>₹ {{ loan.fine_amount }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">No overdue books found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %} 