<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>About Batch-26</title>
  <link rel="stylesheet" href="AboutUs.css" />
</head>

<body>
  <div class="container">

    <!-- Sidebar -->
    <aside class="sidebar">
      <div class="logo-section">
        <h2>AIMCA<br><span>Library</span></h2>
        <p>By Batch-26</p>
        <a href="Returnbook.html">
          <button class="lend-btn">Lend/Return</button>
        </a>
      </div>
      <nav class="nav-icons">
        <a href="dashboard.html">
          <img src="asset/HOME1.png" alt="HOME" width="30" height="30" class="sidebar-icon">
        </a>
        <a href="AboutUs.html">
          <img src="asset/CLIP1.png" alt="CLIP" width="30" height="30" class="sidebar-icon active">
        </a>
        <a href="BookPage.html">
          <img src="asset/BOOK1.png" alt="BOOKS" width="30" height="30" class="sidebar-icon">
        </a>
        <a href="MemberPage.html">
          <img src="asset/USER1.png" alt="USER" width="30" height="30" class="sidebar-icon">
        </a>

      </nav>
    </aside>
    <!-- Main Content -->
    <main class="main-content">
      <h1 class="title">About Batch-26</h1>
      <p class="description">
        Batch-26 is a group of students<br />
        Completed their Graduation from<br />
        AIMCA (Anjuman Institute of Management<br />
        & Computer Application)
      </p>
      <a href="dashboard.html">
        <button class="back-btn">BACK TO Dashboard</button>
      </a>
    </main>
  </div>
</body>

</html>